@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@source '../../../../vendor/kenepa/translation-manager/resources/**/*.blade.php';
@source '../../../../vendor/guava/filament-icon-picker/resources/**/*';
@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';